body {
  margin-left: 37%;
  background-color: lightgreen;
}

#s {
  width: 25%;
  background-color: lightblue;
  height: 40px;
  border: solid green;
  text-align: right;
  padding: 5px;
  margin: 10px;
}
.container {
  width: 25%;
  height: 15%;
  border: solid green;
  margin-left: 15px;
  background-color: lightgreen;
}
.btn-group button {
  background-color: lightblue;
  border: 1px solid blue;
  padding: 19px;
  cursor: pointer;
  float: left;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group button:hover {
  background-color: #3e8e41;
}
button {
  width: 20%;
}
